#divNav {
/*    background-color: #2833E0;    */
    background-image: linear-gradient(0deg, #E02724, #2833E0);
    margin: 0;
    padding: 20px 20px 20px 0;

    display: flex;
}

.logoNav {
    padding: 0;
}


.logoNav img {
    width: 170px;
    height: 90px;

    
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;

}

figcaption {
    visibility: hidden;
}

#navOptions {
    max-width: 1200px;
    margin: 0 0 0 60%;

    display: flex;    
    align-items: center;

}


#navOptions a {
    padding: 5px;
    margin: 20px 0;
    font-size: 18px;

    color: aliceblue;
}
#navOptions a:hover {
    color: red;
    text-decoration:underline;
}